<div class="row">
        <div class="col-md-12">

                <!-- Basic layout-->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">{{ 'change-password.label' | translate }}</h5>
                        <div class="header-elements">
                        </div>
                    </div>
                    <hr class="m-0">

                    <div class="card-body col-md-6 offset-md-3">
                        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">{{ 'change-password.current' | translate }}:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" formControlName="currentPassword" type="password" placeholder="{{ 'change-password.current' | translate }}">
                                    <app-control-message [control]="changePasswordForm.controls.currentPassword"></app-control-message>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">{{ 'change-password.new' | translate }}:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" formControlName="newPassword" type="password" placeholder="{{ 'change-password.new' | translate }}">
                                    <app-control-message [control]="changePasswordForm.controls.newPassword"></app-control-message>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">{{ 'change-password.repeat' | translate }}:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" formControlName="repeatPassword" type="password" placeholder="{{ 'change-password.repeat' | translate }}">
                                    <app-control-message [control]="changePasswordForm.controls.repeatPassword"></app-control-message>
                                </div>
                            </div>

                            <div class="text-right" style="margin-top: 10px">
                                <button (click)="backToHome()" type="button" class="btn mr-2">{{'system.back' | translate}}</button>
                                <app-loading-button [loading]="loading" [form]="changePasswordForm">{{ 'change-password.label' | translate }}</app-loading-button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /basic layout -->

            </div>
</div>