<div class="row">
        <div class="col-md-12">
                <!-- Basic layout-->
                <div class="card">
                    <hr class="m-0">

                    <div class="card-body col-md-6 offset-md-3">
                        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">{{'incident.standard' | translate}}:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" placeholder="{{'incident.standard' | translate}}" formControlName="standard">
                                    <app-control-message [control]="editForm.controls.standard"></app-control-message>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">{{'incident.consequences' | translate}}:</label>
                                <div class="col-lg-9">
                                    <textarea class="form-control" placeholder="{{'incident.consequences' | translate}}" formControlName="consequences"></textarea>
                                    <app-control-message [control]="editForm.controls.consequences"></app-control-message>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">{{'incident.actions' | translate}}:</label>
                                <div class="col-lg-9">
                                    <textarea type="text" class="form-control" placeholder="{{'incident.actions' | translate}}" formControlName="actions"></textarea>
                                    <app-control-message [control]="editForm.controls.actions"></app-control-message>
                                </div>
                            </div>

                            <div class="text-right" style="margin-top: 10px">
                                <button (click)="backToList()" type="button" class="btn mr-2">{{'system.back' | translate}}</button>
                                <app-loading-button *ngIf="!item.id" [loading]="loading" [form]="editForm">{{'system.register' | translate}}</app-loading-button>
                                <app-loading-button *ngIf="item.id" [loading]="loading" [form]="editForm">{{'system.update' | translate}}</app-loading-button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /basic layout -->

            </div>
</div>
