<div class="card">
    <hr class="m-0">

    <div class="datatable-header">
        <div class="header-elements">
            <div class="list-icons">
                <a (click)="listItems()" class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>

    <app-spinner [loading]="loading"></app-spinner>

    <table [hidden]="loading" class="table datatable-basic table-striped table-hover dataTable table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'incident.reportedBy' | translate}}</th>
                <th>{{'incident.createdAt' | translate}}</th>
                <th>{{'incident.standard' | translate}}</th>
                <th>{{'incident.consequences' | translate}}</th>
                <th class="th-actions">{{'system.operations' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr align="center" *ngIf="listIsEmpty">
                <td colspan="100">{{'system.empty-list' | translate}}</td>
            </tr>
            <tr *ngFor="let item of items" class="h-100">
                <td>{{item.id}}</td>
                <td>{{item.reportedBy.name}}</td>
                <td>{{item.createdAt | date: 'dd/MM/yyyy' }}</td>
                <td>{{item.standard }}</td>
                <td style="width: 30%">{{item.consequences }}</td>
                <td class="text-center actions">
                    <button class="btn btn-light text-primary" type="button" (click)="view(item.id)" *ngxPermissionsOnly="['read-*', 'read-incident']" app-tooltip tooltip-placement="top" tooltip-value="system.view">
                        <i class="mdi mdi-visibility"></i>
                    </button>
                    <button class="btn btn-light" type="button" (click)="edit(item.id)" *ngxPermissionsOnly="['update-*', 'update-incident']" app-tooltip tooltip-placement="top" tooltip-value="system.edit">
                        <i class="mdi mdi-edit"></i>
                    </button>
                    <button class="btn btn-light btn-delete text-danger" type="button" *ngxPermissionsOnly="['delete-*', 'delete-incident']" (click)="remove(item.id)" app-tooltip tooltip-placement="top" tooltip-value="system.delete">
                        <i class="mdi mdi-delete"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
