
<div class="sidebar sidebar-light sidebar-main sidebar-fixed sidebar-expand-md" id="sidebar">

    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="javascript:void(0)" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        Opções
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->

    <!-- Sidebar content -->
    <div class="sidebar-content" style="background-color: white">

        <!-- User menu -->
        <div class="sidebar-user-material">
            <div class="sidebar-user-material-body">
                <div class="card-body text-center">
                    <a href="#">
                        <img src="assets/images/user/no_avatar.jpg"
                            class="img-fluid rounded-circle shadow-1 mb-3" width="80" height="80" alt="">
                    </a>
                    <h6 class="mb-0 text-white text-shadow-dark">{{user.name}}</h6>
                    <!-- <span class="font-size-sm text-white text-shadow-dark">Campina Grande, PB</span> -->
                </div>

                <div class="sidebar-user-material-footer">
                    <a href="#user-nav"
                        class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle"
                        data-toggle="collapse"><span>{{'system.options' | translate}}</span></a>
                </div>
            </div>

            <div class="collapse" id="user-nav">
                <ul class="nav nav-sidebar">
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="icon-user-plus"></i>
                            <span>Meu perfil</span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a [routerLink]="['/password/change']" routerLinkActive="active" class="nav-link">
                            <i class="icon-lock2"></i>
                            <span>{{ 'change-password.label' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" (click)="logout()" class="nav-link">
                            <i class="icon-switch2"></i>
                            <span>{{'system.exit' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                <!-- Main -->
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">{{'system.main' | translate}}</div> <i class="icon-menu" title="Main"></i>
                </li>

                <li class="nav-item">
                    <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
                        <i class="icon-home2"></i>
                        <span>{{ 'home.title' | translate}}</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="['/incidents']" routerLinkActive="active" class="nav-link">
                        <i class="icon-profile"></i>
                        <span>{{ 'incident.title.plural' | translate}}</span>
                    </a>
                </li>

                <!-- /main -->

            </ul>
        </div>
        <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->

</div>
<!-- /main sidebar -->
