<!-- Main header -->
<app-header></app-header>

<!-- Page content -->
<div class="page-content">

    <!-- Main sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <app-breadcrumb></app-breadcrumb>
        <!-- Page header -->

        <!-- Content area -->
        <div class="content">

            <!-- routes -->
            <router-outlet><app-spinner></app-spinner></router-outlet>

        </div>
        <!-- /content area -->

        <app-footer></app-footer>

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->