<!-- Page content -->
<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">
				<!-- Login form -->
				<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<div class="card mb-0">
						<div class="card-body">
							<div class="text-center mb-3">
								<img src="assets/images/background/logo.png" alt="Logo" id="img-login">
								<span class="d-block text-muted">Entre na sua conta</span>
							</div>

							<div class="form-group form-group-feedback form-group-feedback-left">
								<input type="text" class="form-control" placeholder="{{'login.username' | translate}}" formControlName="username">
								<div class="form-control-feedback"><i class="icon-user text-muted"></i></div>
								<app-control-message [control]="loginForm.get('username')"></app-control-message>
							</div>

							<div class="form-group form-group-feedback form-group-feedback-left">
								<input type="password" class="form-control" placeholder="{{'login.password' | translate}}" formControlName="password">
								<div class="form-control-feedback"><i class="icon-lock2 text-muted"></i></div>
								<app-control-message [control]="loginForm.get('password')"></app-control-message>
							</div>

							<div class="form-group">
								<app-loading-button class="btn-block" [loading]="loading" [form]="loginForm">{{'system.enter' | translate}}</app-loading-button>
							</div>

						</div>
					</div>
				</form>
				<!-- /login form -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
